.base-app {
  // --- Header ---
  .header-container {
    padding: 1.5em 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-50);
    // Links
    .links-box {
      display: flex;
      align-items: center;
      gap: 0.5em;
      a {
        padding: 0.5em 1em;
        border-radius: var(--radius-sm);
        &:hover {
          box-shadow: inset 100px 0 0 0 var(--gray-50);
        }
      }
    }
    // Logo
    .logo-box {
      text-align: center;
      img {
        width: 80px;
      }
    }
    // Actions
    .actions-box {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 1em;
      .search-bar {
        position: relative;
        transition: var(--transition-duration);
        input {
          width: 250px;
          padding-inline-start: 40px;
          transition: var(--transition-duration);
        }
        svg {
          top: 28%;
          left: 12px;
          color: var(--gray-500);
          position: absolute;
        }
        &[data-hidden$="true"] {
          visibility: hidden;
          opacity: 0;
          input,
          svg {
            width: 0px;
          }
        }
      }
      .cart-btn {
        gap: 1.5em;
        position: relative;
        width: fit-content;
        .total-amount {
          font-size: 12px;
          font-weight: 550;
          width: max-content;
        }
        &::before {
          content: "";
          position: absolute;
          height: 100%;
          width: 1px;
          background-color: gainsboro;
          left: 40px;
        }
        .total-items {
          position: absolute;
          color: var(--base-white);
          padding: 5px 8px;
          font-size: 10px;
          clip-path: circle();
          background-color: var(--base-black);
          top: -8px;
          left: -8px;
        }
        &:dir(rtl) {
          &::before {
            right: 40px;
          }
          .total-items {
            left: initial;
            right: -8px;
          }
        }
      }
    }
    // Mobile Menu
    .header-mobile {
      display: none;
      .menu-container {
        .menu-box {
          position: fixed;
          z-index: 100;
          inset: 0;
          width: 50%;
          height: 100%;
          border-radius: 0 var(--radius-lg) var(--radius-lg) 0;
          background-color: var(--base-white);
          transition: var(--transition-duration);
          &:dir(rtl) {
            border-radius: var(--radius-lg) 0 0 var(--radius-lg);
          }
          .menu-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1.2em 1.5em;
            border-bottom: 1px solid var(--gray-50);
            img {
              width: 80px;
            }
            button {
              padding: 8px;
            }
          }
          .menu-core {
            padding: 1.5em;
            .search-input {
              display: flex;
              align-items: center;
              input {
                border-start-end-radius: 0px;
                border-end-end-radius: 0px;
              }
              button {
                padding: 13px;
                border-end-start-radius: 0px;
                border-start-start-radius: 0px;
              }
            }
            .links {
              margin-top: 1em;
              display: grid;
              a {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1.5em 0;
                font-size: 17px;
                border-bottom: 1px solid var(--gray-50);
                svg {
                  transition: var(--transition-duration);
                  opacity: 0;
                }
                &:hover {
                  padding: 1.5em 1em;
                  background-color: var(--gray-50);
                  svg {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
      &[data-hidden$="true"] .menu-container {
        .menu-box {
          translate: -100% 0;
          opacity: 0;
          visibility: hidden;
          &:dir(rtl) {
            translate: 100% 0;
          }
        }
        .menu-overlay {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }
  // --- Footer ---
  .footer-container {
    .footer-core {
      display: grid;
      grid-template-columns: 30% 70%;
      border-top: 1px solid var(--gray-50);
      border-bottom: 1px solid var(--gray-50);
      padding: 3em 10%;
      .store-box {
        img {
          width: 80px;
        }
      }
      .links-box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
        align-items: start;
        .navigation {
          display: grid;
          gap: 1em;
          .links {
            display: grid;
            gap: 0.5em;
            a {
              width: fit-content;
              color: var(--gray-500);
              padding: 0.3em;
              border-radius: var(--radius-sm);
              &:hover {
                box-shadow: inset 150px 0 0 0 var(--gray-50);
              }
            }
          }
        }
      }
    }
    .footer-copyrights {
      padding: 2em;
      font-size: 13px;
      text-align: center;
    }
  }
}

// Responsive
@media (max-width: 1180px) {
  .base-app {
    .header-container {
      .links-box,
      .actions-box .search-bar,
      .actions-box .search-btn {
        display: none;
      }
      .header-mobile {
        display: block;
      }
    }
    .footer-container {
      .footer-core {
        grid-template-columns: 1fr;
        .store-box {
          text-align: center;
          margin-bottom: 3em;
        }
        .links-box .navigation {
          text-align: center;
          .links {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}

@media (max-width: 766px) {
  .base-app {
    .header-container {
      padding: 1.5em;
      .actions-box .cart-btn {
        .total-amount,
        &::before {
          display: none;
        }
      }
      .header-mobile .menu-container .menu-box {
        width: 85%;
        .menu-core .links a {
          font-size: 14px;
        }
      }
    }
    .footer-container {
      .footer-core {
        padding: 3em 1.5em;
        .links-box {
          grid-template-columns: 1fr;
          gap: 2em;
          .navigation p {
            font-size: 15px;
          }
        }
      }
    }
  }
}
