.product-page {
  min-height: 80vh;
  margin: 2em 10%;
  display: grid;
  gap: 4em;
  .product-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4em;
    position: relative;
    // Content
    .product-content {
      display: grid;
      gap: 1.5em;
      // Head
      .content-head {
        display: grid;
        gap: 0.5em;
        .prod-price {
          font-weight: 550;
        }
        .prod-review {
          display: flex;
          align-items: center;
          gap: 5px;
          color: var(--gray-500);
          font-size: 14px;
          .stars {
            display: inline-flex;
            gap: 2px;
            color: #faab00;
          }
        }
      }
      // Core
      .content-core {
        display: grid;
        gap: 1.5em;
        padding: 1.5em 0;
        border-top: 1px solid var(--gray-50);
        border-bottom: 1px solid var(--gray-50);
        .variant {
          display: grid;
          gap: 0.5em;
          .label {
            font-size: 14px;
            color: var(--gray-500);
          }
          .options {
            display: flex;
            gap: 0.5em;
          }
        }
        .var-color .options {
          .color {
            padding: 0;
            width: 35px;
            height: 35px;
            border-radius: var(--radius-sm);
            outline: 1px solid var(--gray-50);
            border: 1px solid var(--base-white);
            &:first-child {
              outline-color: var(--base-black);
            }
          }
        }
        .var-badge .options {
          button {
            font-size: 13px;
            padding: 7px 12px;
            &:nth-child(2) {
              border-color: var(--base-black);
              background-color: var(--base-black);
              color: var(--base-white);
            }
          }
        }
        .var-radio .options {
          display: grid;
          label {
            display: flex;
            align-items: center;
            gap: 1em;
            cursor: pointer;
            font-size: 14px;
            width: fit-content;
            input {
              width: fit-content;
              margin-top: 3px;
              height: fit-content;
              padding: 0.5em;
              appearance: none;
              -webkit-appearance: none;
              border-radius: var(--radius-circle);
              background-color: var(--base-white);
              border: 3px solid var(--base-white);
              box-shadow: var(--shadow-dark-sm);
              transition: 0.3s;
              &:checked {
                background-color: var(--base-black);
                box-shadow: var(--shadow-dark-focus-sm);
              }
            }
          }
        }
        .check-out-form .inputs {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 1em;
          input:last-child {
            grid-column: 3 / 1;
          }
        }
        .countdown-box {
          display: grid;
          border-radius: var(--radius-md);
          color: var(--gray-500);
          font-size: 14px;
          border: 1px solid var(--gray-50);
          .visitors {
            text-align: center;
            padding: 1.5em;
            border-bottom: 1px solid var(--gray-50);
            span {
              padding: 3px 10px;
              border-radius: var(--radius-sm);
              background-color: var(--gray-50);
            }
          }
          .time {
            padding: 1em 1.5em;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            .tab {
              display: grid;
              text-align: center;
              justify-content: center;
              span {
                font-weight: 550;
              }
              &:nth-child(1),
              &:nth-child(2),
              &:nth-child(3) {
                border-right: 1px solid var(--gray-50);
              }
            }
          }
        }
        .add-to-cart-box {
          display: flex;
          gap: 1em;
          .quantity {
            display: flex;
            align-items: center;
            gap: 1em;
          }
          .add-btn {
            width: 100%;
            justify-content: center;
            text-transform: uppercase;
          }
        }
      }
    }
    // Description
    .content-description {
      display: grid;
      gap: 1.5em;
      text-align: justify;
      .desc-section {
        display: grid;
        gap: 5px;
        p {
          font-size: 13px;
          color: var(--gray-500);
        }
      }
    }
  }
  // Media
  .product-media {
    top: 1.5em;
    position: sticky;
    height: fit-content;
    display: grid;
    gap: 0.5em;
    .media-preview {
      position: relative;
      height: 550px;
      .img-preview {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--radius-lg);
        user-select: none;
        border: 1px solid var(--gray-50);
      }
      .per-page {
        display: flex;
        font-size: 13px;
        padding: 5px 15px;
        right: 20px;
        bottom: 20px;
        border-radius: var(--radius-xl);
        color: var(--base-white);
        backdrop-filter: blur(2px);
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
      }
    }
    .media-options {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 0.5em;
      button {
        height: 120px;
        border: 1px solid var(--gray-50);
        padding: 0;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: var(--radius-md);
        }
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          opacity: 0;
          border-radius: var(--radius-md);
          backdrop-filter: blur(1px);
          background-color: rgba(0, 0, 0, 0.1);
          transition: var(--transition-duration);
        }
        &:hover::before,
        &[data-active-image$="true"]::before {
          opacity: 1;
        }
        &[data-active-image$="true"] {
          box-shadow: var(--shadow-dark-focus-sm);
        }
      }
    }
  }
  // Reviews
  .reviews-area {
    display: grid;
    gap: 2em;
    .reviews-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      button:is(.icon) {
        display: none;
      }
    }
    .review-form {
      display: grid;
      gap: 1.5em;
      .rate-box {
        display: flex;
        justify-content: center;
        margin-bottom: 2em;
        .stars {
          display: flex;
          align-items: center;
          justify-content: center;
          button {
            padding: 0 3px;
            background-color: transparent;
            color: #faab00;
            &:hover ~ button {
              svg {
                fill: transparent;
              }
            }
            &:hover {
              scale: 1.3;
            }
          }
          &:hover button,
          .active-rate {
            svg {
              fill: #faab00;
            }
          }
        }
      }
      .information-box {
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(2, 1fr);
        input:nth-child(3),
        textarea,
        .upload-container {
          grid-column: 3 / 1;
        }
      }
      .actions-box {
        margin-top: 1em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5em;
        button {
          justify-content: center;
        }
      }
    }
  }
  // Express Checkout
  .express-checkout-area {
    display: none;
    .check-out-form {
      display: grid;
      gap: 1em;
      button {
        justify-content: center;
      }
    }
    .add-to-cart {
      position: fixed;
      left: 0;
      bottom: 0;
      width: -webkit-fill-available;
      padding: 1em;
      border-top: 1px solid var(--gray-50);
      background-color: var(--base-white);
      .add-btn {
        text-transform: uppercase;
        width: 100%;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 1250px) {
  .product-page .product-area {
    grid-template-columns: 0.55fr 0.45fr;
    .product-media {
      .media-preview {
        height: 450px;
      }
      .media-options button {
        height: 80px;
      }
    }
  }
}

@media (max-width: 766px) {
  .product-page {
    margin: 2em 5%;
    .product-area {
      gap: 2em;
      grid-template-columns: 1fr;
      .product-media {
        position: static;
        .media-preview {
          height: 400px;
        }
        .media-options button {
          height: 70px;
        }
      }
    }
    .reviews-area .reviews-head {
      button:is(.primary) {
        display: none;
      }
      button:is(.icon) {
        display: flex;
      }
    }
    .express-checkout-area {
      display: block;
    }
  }
}
