.search-page {
  min-height: 80vh;
  margin: 2em 10%;
  display: grid;
  grid-template-rows: auto 1fr;
  // Navigation
  .navigation-area {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 2em;
    a {
      border-radius: var(--radius-sm);
      &:hover {
        text-decoration: underline;
      }
      &:first-child {
        opacity: 0.5;
      }
    }
  }
  // Browsing
  .browsing-area {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid var(--gray-50);
    border-radius: var(--radius-md);
    // Filter
    .filter-box {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(3, 1fr);
      padding: 1.5em;
      border-bottom: 1px solid var(--gray-50);
      .result-count {
        font-size: 14px;
        color: var(--gray-500);
      }
      .filter-options {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5em;
        button {
          padding: 0;
          color: var(--gray-500);
          &:first-child {
            font-weight: 550;
            color: var(--base-black);
            text-decoration: underline;
          }
        }
      }
      .filter-sort {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 1em;
        label {
          display: flex;
          align-items: center;
          gap: 5px;
          font-size: 13px;
        }
        .sort-options {
          display: flex;
          align-items: center;
          gap: 0.5em;
          button {
            font-size: 13px;
            padding: 7px 12px;
            &:first-child {
              border: 1px solid var(--base-black);
              background-color: var(--base-black);
              color: var(--base-white);
            }
          }
        }
      }
    }
    // Mobile Filter
    .filter-box-mobile {
      display: grid;
      gap: 1.5em;
      .filter-tab {
        display: grid;
        gap: 0.8em;
        label {
          color: var(--gray-500);
          font-size: 14px;
        }
        .options {
          display: flex;
          gap: 0.5em;
          flex-wrap: wrap;
          button {
            font-size: 13px;
            padding: 7px 12px;
            &:first-child {
              border: 1px solid var(--base-black);
              background-color: var(--base-black);
              color: var(--base-white);
            }
          }
        }
      }
      .filter-actions {
        margin-top: 1em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5em;
        button {
          justify-content: center;
        }
      }
    }
    .result-box {
      padding: 1.5em;
    }
  }
}

@media (max-width: 1380px) {
  .search-page .browsing-area .filter-box {
    gap: 1.5em;
    grid-template-columns: 1fr;
    .filter-sort {
      justify-content: center;
      grid-column: 3 / 1;
    }
  }
}

@media (max-width: 766px) {
  .search-page {
    margin: 2em 5%;
    .browsing-area .filter-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .filter-options,
      .filter-sort {
        display: none;
      }
    }
  }
}
