.content-container {
  font-size: 40px;
  text-align: justify;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1250px) {
  .content-container {
    font-size: 35px;
  }
}

@media (max-width: 766px) {
  .content-container {
    text-align: center;
    font-size: 25px;
  }
}
