.content-container {
  text-align: justify;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 60px;
  }
}

@media (max-width: 1250px) {
  .content-container h1 {
    font-size: 35px;
  }
}

@media (max-width: 766px) {
  .content-container {
    height: auto;
    h1 {
      text-align: center;
    }
  }
}
