.config-container {
  .config-box {
    position: fixed;
    z-index: 9999;
    translate: -50% 0%;
    left: 50%;
    bottom: 1em;
    padding: 2em;
    // width: 50%;
    width: 600px;
    height: 50%;
    border-radius: var(--radius-xl);
    background-color: var(--base-white);
    transition: var(--transition-duration);
    &[data-step$="0"] {
      width: 600px;
      height: 50%;
    }
    &[data-step$="1"] {
      width: 800px;
      height: 70%;
    }
  }
}
