.thank-you-page {
  margin: 2em 10%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .thank-you-box {
    text-align: center;
    img {
      width: 150px;
    }
    .box-content {
      display: grid;
      gap: 5px;
      p {
        font-size: 14px;
        color: var(--gray-500);
      }
    }
    .box-actions {
      display: flex;
      justify-content: center;
      .back-link {
        margin-top: 1em;
        display: flex;
        align-items: center;
        gap: 1em;
        width: fit-content;
        padding: 12px 20px;
        background-color: transparent;
        color: var(--base-black);
        border: 1px solid gainsboro;
        border-radius: var(--radius-md);
        &:hover {
          background-color: var(--gray-50);
        }
      }
    }
  }
}

@media (max-width: 766px) {
  .thank-you-page {
    margin: 2em 5%;
    .thank-you-box {
      .box-content {
        h1 {
          font-size: 25px;
        }
        p {
          font-size: 13px;
        }
      }
      .box-actions .back-link {
        font-size: 13px;
      }
    }
  }
}
