.action-area {
  justify-content: center;
  font-size: 13px;
  padding: 0;
  width: 100%;
  height: 40px;
  color: var(--base-black);
  background-color: transparent;
  border-radius: var(--radius-xl) var(--radius-xl) 0 0;
}
